Fix the number of users and dimension
Increase the number of producers

### Track the following
All engagement
- Total producer utility, Total user engagement [Sanity check both should be same]
- Average producer utility, min producer utility, max producer utility
- Average user utility, min user utility, max user utility

In [18]:
import sys
sys.path.append('../source/')
import numpy as np
from Users import Users
from Producers import *
from embeddings import *
from sklearn.preprocessing import normalize
from plotting import *
from tqdm import tqdm
import pandas as pd

In [3]:
_, nue5  = user_embeddings_movielens100k_nmf(dimension =  5)
_, nue10 = user_embeddings_movielens100k_nmf(dimension = 10)
_, nue15 = user_embeddings_movielens100k_nmf(dimension = 15)

In [6]:
n_users, dimension = nue10.shape

In [14]:
n_prodarr = [5, 10, 50, 100, 200]

In [19]:
res = []
for n_prod in tqdm(n_prodarr):
  PEng = ProducersEngagementGame(num_producers = n_prod, users = Users(nue10), prob = 'linear')
  NE, NE_compact, iters = PEng.best_response_dynamics()
  print(NE_compact.sum(), n_prod)
  dir_prods, prod_utils, user_utils = get_all_engagement_utilities(NE, nue10, prob_type='linear')
  di = {'n_prod' : n_prod,
        'NE_compact' : NE_compact,
        'prod_dist' : NE_compact / n_prod,
        'user_dist': nue10.sum(axis = 0) / n_users,
        'iters_to_NE':iters,
        
        'total_prod_util': prod_utils.sum(),
        'avg_prod_util': prod_utils.mean(),
        'max_prod_util': prod_utils.max(),
        'min_prod_util': prod_utils.min(),
        
        'total_user_util': user_utils.sum(),
        'avg_user_util': user_utils.mean(),
        'max_user_util': user_utils.max(),
        'min_user_util': user_utils.min(),
      }
  res.append(di)
df_dim10 = pd.DataFrame(res)

  0%|                                                     | 0/5 [00:00<?, ?it/s]

5.0 5
10.0 10

 60%|███████████████████████████                  | 3/5 [00:00<00:00,  6.90it/s]

50.0 50

 80%|████████████████████████████████████         | 4/5 [00:01<00:00,  2.01it/s]

100.0 100

100%|█████████████████████████████████████████████| 5/5 [00:06<00:00,  1.28s/it]

200.0 200

In [23]:
prod_utils

array([0.62418517, 0.62452471, 0.62452471, 0.624273  , 0.62516624,
       0.62516624, 0.62477015, 0.62516624, 0.62516624, 0.62477015,
       0.62516624, 0.62452471, 0.62418517, 0.62452471, 0.62418517,
       0.62516624, 0.62516624, 0.62516624, 0.62418517, 0.62452471,
       0.624273  , 0.62516624, 0.62516624, 0.62516624, 0.624273  ,
       0.62418517, 0.62516624, 0.62545332, 0.62477015, 0.62418517,
       0.62418517, 0.62418517, 0.62452471, 0.62418517, 0.62477015,
       0.62545332, 0.62516624, 0.62545332, 0.62516624, 0.62452471,
       0.62516624, 0.62418517, 0.62518027, 0.62477015, 0.62418517,
       0.62418517, 0.62545332, 0.62452471, 0.62516624, 0.62518027,
       0.62516624, 0.62516624, 0.62418517, 0.62418517, 0.62516624,
       0.624273  , 0.62477015, 0.62516624, 0.62545332, 0.62516624,
       0.62418517, 0.62516624, 0.62418517, 0.62516624, 0.62477015,
       0.62418517, 0.62516624, 0.62477015, 0.62516624, 0.624273  ,
       0.62545332, 0.62418517, 0.62418517, 0.62418517, 0.62516624,
       0.62418517, 0.62516624, 0.62516624, 0.62418517, 0.62518027,
       0.62418517, 0.62452471, 0.624273  , 0.62516624, 0.62418517,
       0.624273  , 0.62477015, 0.62516624, 0.62452471, 0.62477015,
       0.62452471, 0.62516624, 0.62418517, 0.62418517, 0.62516624,
       0.62516624, 0.62418517, 0.62452471, 0.62418517, 0.62516624,
       0.62545332, 0.624273  , 0.62516624, 0.62418517, 0.62477015,
       0.62516624, 0.62516624, 0.62418517, 0.62418517, 0.62418517,
       0.62418517, 0.62452471, 0.62452471, 0.62418517, 0.62418517,
       0.62452471, 0.62516624, 0.62516624, 0.62516624, 0.62452471,
       0.62545332, 0.62452471, 0.62418517, 0.62516624, 0.62518027,
       0.62418517, 0.62418517, 0.62545332, 0.62516624, 0.62518027,
       0.62418517, 0.62477015, 0.62452471, 0.62516624, 0.62418517,
       0.62418517, 0.62452471, 0.62516624, 0.62418517, 0.62418517,
       0.62452471, 0.62516624, 0.62518027, 0.62516624, 0.62518027,
       0.62477015, 0.62545332, 0.62452471, 0.62418517, 0.624273  ,
       0.62418517, 0.62452471, 0.62516624, 0.62418517, 0.62418517,
       0.62418517, 0.62418517, 0.62418517, 0.62518027, 0.62516624,
       0.62477015, 0.62516624, 0.62418517, 0.62516624, 0.62518027,
       0.62452471, 0.62452471, 0.62477015, 0.62516624, 0.62418517,
       0.62418517, 0.624273  , 0.62516624, 0.62418517, 0.62418517,
       0.62418517, 0.62418517, 0.62418517, 0.62477015, 0.62477015,
       0.62452471, 0.62418517, 0.62516624, 0.62477015, 0.62418517,
       0.62518027, 0.62477015, 0.624273  , 0.62516624, 0.62452471,
       0.62516624, 0.62516624, 0.62516624, 0.62516624, 0.62477015,
       0.62477015, 0.62418517, 0.62516624, 0.62477015, 0.62477015])

In [26]:
df_dim10

,n_prod,NE_compact,prod_dist,user_dist,iters_to_NE,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,5,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4, 0.0, 0.4, ...","[0.0962641501460523, 0.10136871592148264, 0.09...",6,122.338263,24.467653,24.754108,24.053156,122.338263,0.129733,0.322927,0.011202
1,10,"[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 3.0, 0.0, 3.0, ...","[0.0, 0.1, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0, 0.3, ...","[0.0962641501460523, 0.10136871592148264, 0.09...",9,124.295364,12.429536,12.624609,12.126717,124.295364,0.131808,0.323127,0.054588
2,50,"[0.0, 6.0, 3.0, 2.0, 2.0, 0.0, 15.0, 0.0, 15.0...","[0.0, 0.12, 0.06, 0.04, 0.04, 0.0, 0.3, 0.0, 0...","[0.0962641501460523, 0.10136871592148264, 0.09...",37,124.898447,2.497969,2.526019,2.485973,124.898447,0.132448,0.310314,0.069587
3,100,"[0.0, 11.0, 5.0, 5.0, 5.0, 0.0, 30.0, 0.0, 31....","[0.0, 0.11, 0.05, 0.05, 0.05, 0.0, 0.3, 0.0, 0...","[0.0962641501460523, 0.10136871592148264, 0.09...",60,124.933615,1.249336,1.255282,1.246815,124.933615,0.132485,0.310291,0.067457
4,200,"[0.0, 23.0, 11.0, 10.0, 10.0, 0.0, 59.0, 0.0, ...","[0.0, 0.115, 0.055, 0.05, 0.05, 0.0, 0.295, 0....","[0.0962641501460523, 0.10136871592148264, 0.09...",117,124.940798,0.624704,0.625453,0.624185,124.940798,0.132493,0.309688,0.068430

In [28]:
df_dim10.drop(['NE_compact','prod_dist', 'user_dist'], axis=1)

,n_prod,iters_to_NE,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,5,6,122.338263,24.467653,24.754108,24.053156,122.338263,0.129733,0.322927,0.011202
1,10,9,124.295364,12.429536,12.624609,12.126717,124.295364,0.131808,0.323127,0.054588
2,50,37,124.898447,2.497969,2.526019,2.485973,124.898447,0.132448,0.310314,0.069587
3,100,60,124.933615,1.249336,1.255282,1.246815,124.933615,0.132485,0.310291,0.067457
4,200,117,124.940798,0.624704,0.625453,0.624185,124.940798,0.132493,0.309688,0.068430

In [13]:
ar = np.array([1,2,3])
ar.mean(), ar.max(), ar.min()

(2.0, 3, 1)

In [ ]:
df_dim10

In [29]:
df_dim10.to_pickle('linear_dim10_movielens_utilswincreasing_prods.pkl')