Fix the number of users and dimension
Increase the number of producers

### Track the following
All engagement
- Total producer utility, Total user engagement [Sanity check both should be same]
- Average producer utility, min producer utility, max producer utility
- Average user utility, min user utility, max user utility

In [1]:
import sys
sys.path.append('../source/')
import numpy as np
from Users import Users
from Producers import *
from embeddings import *
from sklearn.preprocessing import normalize
from plotting import *
from tqdm import tqdm
import pandas as pd

In [10]:
seeds = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29] # seeds for reproducibilit of NMF factorizations
len(seeds)

10

In [ ]:
def get_df_increasing_prods(user_embeddding, prob_type = 'linear', n_prodarr = [5, 10, 50, 100, 200]):
  n_users, dimension = user_embeddding.shape
  res = []
  for n_prod in n_prodarr:
    PEng = ProducersEngagementGame(num_producers = n_prod, users = Users(user_embeddding), prob = prob_type)
    NE, NE_compact, iters = PEng.best_response_dynamics(verbose=False)
    dir_prods, prod_utils, user_utils = get_all_engagement_utilities(NE, user_embeddding, prob_type = prob_type)
    di = {
        'seed': seed,
        'n_prod' : n_prod,
        'NE_compact' : NE_compact,
        'prod_dist' : NE_compact / n_prod,
        'user_dist': user_embeddding.sum(axis = 0) / n_users,
        'iters_to_NE':iters,
        
        'total_prod_util': prod_utils.sum(),
        'avg_prod_util': prod_utils.mean(),
        'max_prod_util': prod_utils.max(),
        'min_prod_util': prod_utils.min(),
        
        'total_user_util': user_utils.sum(),
        'avg_user_util': user_utils.mean(),
        'max_user_util': user_utils.max(),
        'min_user_util': user_utils.min(),
      }
    res.append(di)
  return pd.DataFrame(res)

In [ ]:
for seed in seeds:
  np.random.seed()

In [5]:
_, nue5  = user_embeddings_movielens100k_nmf(dimension =  5)
_, nue10 = user_embeddings_movielens100k_nmf(dimension = 10)
_, nue15 = user_embeddings_movielens100k_nmf(dimension = 15)

In [6]:
n_prodarr = [5, 10, 50, 100, 200]

In [7]:
df_linear = get_df_increasing_prods(nue5, prob_type = 'linear')
df_softmax = get_df_increasing_prods(nue5, prob_type = 'softmax')

943 943.0

  0%|                                                     | 0/5 [00:00<?, ?it/s]

(5, 5) 5.0 5
(10, 5) 10.0 10
(50, 5) 50.0 50

 80%|████████████████████████████████████         | 4/5 [00:00<00:00, 15.54it/s]

(100, 5) 100.0 100

100%|█████████████████████████████████████████████| 5/5 [00:01<00:00,  4.15it/s]

(200, 5) 200.0 200
943 943.0

  0%|                                                     | 0/5 [00:00<?, ?it/s]

(5, 5) 5.0 5
(10, 5) 10.0 10

 60%|███████████████████████████                  | 3/5 [00:00<00:00, 11.42it/s]

(50, 5) 50.0 50
(100, 5) 100.0 100

100%|█████████████████████████████████████████████| 5/5 [00:11<00:00,  2.20s/it]

(200, 5) 200.0 200

In [8]:
df_linear.drop(['NE_compact','prod_dist', 'user_dist'], axis=1) > \
df_softmax.drop(['NE_compact','prod_dist', 'user_dist'], axis=1)

,n_prod,iters_to_NE,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,False,False,True,True,True,True,True,True,False,True
1,False,False,True,True,True,True,True,True,True,True
2,False,False,True,True,True,True,True,True,True,True
3,False,False,True,True,True,True,True,True,True,True
4,False,False,True,True,True,True,True,True,True,True

In [26]:
df_linear.drop(['NE_compact','prod_dist', 'user_dist'], axis=1)

,n_prod,iters_to_NE,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,5,2,227.428385,45.485677,47.371321,43.772186,227.428385,0.241175,0.568146,0.159102
1,10,5,228.053466,22.805347,23.158877,22.231496,228.053466,0.241838,0.587159,0.160932
2,50,19,227.902005,4.558040,4.570095,4.541110,227.902005,0.241678,0.569808,0.165466
3,100,29,227.931962,2.279320,2.283197,2.274356,227.931962,0.241709,0.571803,0.165809
4,200,62,227.950467,1.139752,1.140306,1.138422,227.950467,0.241729,0.572836,0.165878

In [27]:
df_softmax.drop(['NE_compact','prod_dist', 'user_dist'], axis=1)

,n_prod,iters_to_NE,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,5,3,198.919073,39.783815,39.877419,39.693250,198.919073,0.210943,0.424657,0.029037
1,10,2,199.251398,19.925140,19.942980,19.851770,199.251398,0.211295,0.357387,0.084764
2,50,21,199.172416,3.983448,3.984857,3.981779,199.172416,0.211211,0.371243,0.079795
3,100,44,199.143620,1.991436,1.992105,1.991231,199.143620,0.211181,0.378196,0.078281
4,200,80,199.143620,0.995718,0.996052,0.995616,199.143620,0.211181,0.378196,0.078281

In [5]:
res = []
for n_prod in tqdm(n_prodarr):
  PEng = ProducersEngagementGame(num_producers = n_prod, users = Users(nue10), prob = 'softmax')
  NE, NE_compact, iters = PEng.best_response_dynamics()
  print(NE_compact.sum(), n_prod)
  dir_prods, prod_utils, user_utils = get_all_engagement_utilities(NE, nue10, prob_type='softmax')
  di = {'n_prod' : n_prod,
        'NE_compact' : NE_compact,
        'prod_dist' : NE_compact / n_prod,
        'user_dist': nue10.sum(axis = 0) / n_users,
        'iters_to_NE':iters,
        
        'total_prod_util': prod_utils.sum(),
        'avg_prod_util': prod_utils.mean(),
        'max_prod_util': prod_utils.max(),
        'min_prod_util': prod_utils.min(),
        
        'total_user_util': user_utils.sum(),
        'avg_user_util': user_utils.mean(),
        'max_user_util': user_utils.max(),
        'min_user_util': user_utils.min(),
      }
  res.append(di)
df_dim10 = pd.DataFrame(res)

 40%|██████████████████                           | 2/5 [00:00<00:00, 13.53it/s]

5.0 5
10.0 10
50.0 50

 80%|████████████████████████████████████         | 4/5 [00:05<00:01,  1.47s/it]

100.0 100

100%|█████████████████████████████████████████████| 5/5 [00:21<00:00,  4.39s/it]

200.0 200

In [26]:
df_dim10

,n_prod,NE_compact,prod_dist,user_dist,iters_to_NE,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,5,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4, 0.0, 0.4, ...","[0.0962641501460523, 0.10136871592148264, 0.09...",6,122.338263,24.467653,24.754108,24.053156,122.338263,0.129733,0.322927,0.011202
1,10,"[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 3.0, 0.0, 3.0, ...","[0.0, 0.1, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0, 0.3, ...","[0.0962641501460523, 0.10136871592148264, 0.09...",9,124.295364,12.429536,12.624609,12.126717,124.295364,0.131808,0.323127,0.054588
2,50,"[0.0, 6.0, 3.0, 2.0, 2.0, 0.0, 15.0, 0.0, 15.0...","[0.0, 0.12, 0.06, 0.04, 0.04, 0.0, 0.3, 0.0, 0...","[0.0962641501460523, 0.10136871592148264, 0.09...",37,124.898447,2.497969,2.526019,2.485973,124.898447,0.132448,0.310314,0.069587
3,100,"[0.0, 11.0, 5.0, 5.0, 5.0, 0.0, 30.0, 0.0, 31....","[0.0, 0.11, 0.05, 0.05, 0.05, 0.0, 0.3, 0.0, 0...","[0.0962641501460523, 0.10136871592148264, 0.09...",60,124.933615,1.249336,1.255282,1.246815,124.933615,0.132485,0.310291,0.067457
4,200,"[0.0, 23.0, 11.0, 10.0, 10.0, 0.0, 59.0, 0.0, ...","[0.0, 0.115, 0.055, 0.05, 0.05, 0.0, 0.295, 0....","[0.0962641501460523, 0.10136871592148264, 0.09...",117,124.940798,0.624704,0.625453,0.624185,124.940798,0.132493,0.309688,0.068430