In [2]:
import sys
sys.path.append('../source/')
import numpy as np
from Users import Users
from Producers import *
from sklearn.preprocessing import normalize
from plotting import *
from tqdm import tqdm
import pandas as pd

In [72]:
#TODO add to utils
def pd_across_temp(df_dic, dimension = 5, nprod = 100, seed = 17):
  selection_mask = (df_dic['temp100']['dimension'] == dimension) & (df_dic['temp100']['nprod'] == nprod) \
  & (df_dic['temp100']['seed'] == seed)
  res_list = []
  ud = df_dic['temp100'][selection_mask]['user_dist'].values[0]
  res_list.append(ud)
  for key in ['temp100', 'temp10', 'temp1', 'temp01', 'temp001']:
    if not np.array_equal(df_dic[key][selection_mask]['user_dist'].values[0], ud):
      print("uds don't match check!")
    res_list.append(df_dic[key][selection_mask]['producer_dist'].values[0])
  res = pd.DataFrame(res_list, columns=['d1','d2', 'd3', 'd4', 'd5'])
  return res

## Synth uniform dataset
Across different temeperatures

t = 100, 10, 1, 0.1, 0.01

In [23]:
df_100 = pd.read_pickle("../saved_frames/synth-uniform_softmax_temp_100.0.pkl")
df_10 = pd.read_pickle('../saved_frames/synth-uniform_softmax_temp_10.0.pkl')
df_1 = pd.read_pickle('../saved_frames/uniform_synthetic_grid_softmax_statistics.pkl') # temp = 1
df_01 = pd.read_pickle('../saved_frames/synth-uniform_softmax_temp_0.1.pkl')
df_001 = pd.read_pickle('../saved_frames/synth-uniform_softmax_temp_0.01.pkl')

df_dic = {'temp100': df_100, 'temp10': df_10, 'temp1':df_1,\
          'temp01': df_01, 'temp001': df_001}

In [24]:
df_100.shape, df_1.shape, df_01.shape,df_001.shape

((400, 16), (400, 16), (400, 16), (400, 16))

In [25]:
(df_001['NE_exists'] == False).sum(), (df_01['NE_exists'] == False).sum(), \
(df_1['NE_exists']==False).sum(), (df_10['NE_exists']==False).sum(), \
(df_100['NE_exists']==False).sum()

(3, 0, 0, 0, 0)

In [26]:
df_001[df_001['NE_exists'] == False]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
240,15,11,10,False,499,"[1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...","[0.1, 0.1, 0.1, 0.0, 0.0, 0.1, 0.1, 0.0, 0.1, ...","[0.06664620173307696, 0.06611955066153148, 0.0...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
250,15,13,10,False,499,"[1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...","[0.1, 0.1, 0.1, 0.0, 0.0, 0.1, 0.1, 0.0, 0.1, ...","[0.06730056604547782, 0.06691743467192814, 0.0...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
390,20,29,10,False,499,"[1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, ...","[0.1, 0.0, 0.1, 0.0, 0.1, 0.1, 0.0, 0.1, 0.0, ...","[0.050078133785279026, 0.049848806809137, 0.05...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [27]:
dimension = 5
nprod = 100
seed=17
select = (df_001['dimension'] == dimension) & (df_001['nprod'] == nprod) & (df_001['seed'] == seed)
df_001[select]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
69,5,17,100,True,8,"[19.0, 20.0, 20.0, 20.0, 21.0]","[0.19, 0.2, 0.2, 0.2, 0.21]","[0.19795098440854125, 0.20069698840386346, 0.1...",4573.476885,45.734769,46.27447,45.239875,4573.476885,0.457348,0.935508,0.214191

In [73]:
df = pd_across_temp(df_dic)

In [76]:
df.to_csv('../csv_results/synth-uniform_temp-table.csv')

## Movielens dataset
Across different temeperatures

t = 100, 10, 1, 0.1, 0.01

In [77]:
df_100 = pd.read_pickle("../saved_frames/movielens-100k_softmax_temp_100.0.pkl")
df_10 = pd.read_pickle('../saved_frames/movielens-100k_softmax_temp_10.0.pkl')
df_1 = pd.read_pickle('../saved_frames/Movielens100k_grid_softmax_statistics.pkl') # temp = 1
df_01 = pd.read_pickle('../saved_frames/movielens-100k_softmax_temp_0.1.pkl')
df_001 = pd.read_pickle('../saved_frames/Movielens100k_grid_greedy_statistics.pkl')

df_dic = {'temp100': df_100, 'temp10': df_10, 'temp1':df_1,\
          'temp01': df_01, 'temp001': df_001}

In [78]:
df_100.shape, df_10.shape, df_1.shape, df_01.shape,df_001.shape

((400, 16), (400, 16), (400, 16), (400, 16), (400, 16))

In [79]:
(df_001['NE_exists'] == False).sum(), (df_01['NE_exists'] == False).sum(), \
(df_1['NE_exists']==False).sum(), (df_10['NE_exists']==False).sum(), \
(df_100['NE_exists']==False).sum()

(2, 0, 0, 0, 0)

In [80]:
df_001[df_001['NE_exists'] == False]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
200,15,2,10,False,499,"[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, ...","[0.1, 0.0, 0.1, 0.1, 0.1, 0.0, 0.1, 0.1, 0.1, ...","[0.06839639356486636, 0.06542173178206166, 0.0...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
280,15,23,10,False,499,"[1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...","[0.1, 0.0, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.0, ...","[0.06601912110442619, 0.067822278938963, 0.065...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [81]:
df = pd_across_temp(df_dic)

In [83]:
df.to_csv('../csv_results/movielens100k_temp-table.csv')

## Synth-skewed dataset
Across different temeperatures

t = 100, 10, 1, 0.1, 0.01

In [88]:
df_100 = pd.read_pickle("../saved_frames/synth-skewed_softmax_temp_100.0.pkl")
df_10 = pd.read_pickle('../saved_frames/synth-skewed_softmax_temp_10.0.pkl')
df_1 = pd.read_pickle('../saved_frames/weighted_synthetic_grid_softmax_statistics.pkl') # temp = 1
df_01 = pd.read_pickle('../saved_frames/synth-skewed_softmax_temp_0.1.pkl')
df_001 = pd.read_pickle('../saved_frames/weighted_synthetic_grid_greedy_statistics.pkl')

df_dic = {'temp100': df_100, 'temp10': df_10, 'temp1':df_1,\
          'temp01': df_01, 'temp001': df_001}

In [89]:
df_100.shape, df_10.shape, df_1.shape, df_01.shape,df_001.shape

((400, 16), (400, 16), (400, 16), (400, 16), (400, 16))

In [90]:
(df_001['NE_exists'] == False).sum(), (df_01['NE_exists'] == False).sum(), \
(df_1['NE_exists']==False).sum(), (df_10['NE_exists']==False).sum(), \
(df_100['NE_exists']==False).sum()

(0, 0, 0, 0, 0)

In [91]:
df = pd_across_temp(df_dic)

In [93]:
df.to_csv('../csv_results/synth-skewed_temp-table.csv')

In [94]:
df

         d1        d2        d3        d4        d5
0  0.081815  0.120752  0.140034  0.241155  0.416245
1  0.000000  0.000000  0.000000  0.000000  1.000000
2  0.000000  0.000000  0.000000  0.000000  1.000000
3  0.000000  0.000000  0.000000  0.000000  1.000000
4  0.000000  0.010000  0.030000  0.220000  0.740000
5  0.010000  0.040000  0.070000  0.230000  0.650000