In [1]:
import sys
sys.path.append('../source/')
import numpy as np
from plotting import *
from tqdm import tqdm
import pandas as pd

In [2]:
## PLOT configs
plt.rcParams.update({
    "pgf.texsystem": "pdflatex",
    'font.family': 'serif',
    'font.size' : 15,                   # Set font size to 11pt
    'axes.labelsize': 15,               # -> axis labels
    'xtick.labelsize':12,
    'ytick.labelsize':12,
    'legend.fontsize': 12,
    'lines.linewidth':2,
    'text.usetex': False,
    'pgf.rcfonts': False,
})
# plt.tight_layout(rect=[0, 0.03, 1, 0.85])

In [3]:
utils_columns = ['avg_prod_util', 'min_prod_util', 'avg_user_util', 'min_user_util']

### UNIFORM SYNTHETIC
- all 400 instances converged to NE for softmax serving, 
- 399 o/f 400 instances conveged to NE for linear-prop serving
- 397 o/f 400 instances converged to NE for greedy serving

In [4]:
df_linear = pd.read_pickle("../saved_frames/uniform_synthetic_grid_linear_statistics.pkl") 
df_softmax = pd.read_pickle("../saved_frames/uniform_synthetic_grid_softmax_statistics.pkl")
df_greedy = pd.read_pickle("../saved_frames/uniform_synthetic_grid_greedy_statistics.pkl")
print(df_linear.shape, df_softmax.shape, df_greedy.shape)

(400, 16) (400, 16) (400, 16)

In [5]:
(df_softmax['NE_exists'] == False).sum(), (df_linear['NE_exists'] == False).sum(), (df_greedy['NE_exists'] == False).sum()

(0, 1, 3)

In [6]:
df_linear[df_linear['NE_exists'] == False]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
270,15,19,10,False,9999,"[0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 0.0, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.0, ...","[0.06638044181189726, 0.0664076402597995, 0.06...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [7]:
df_greedy[df_greedy['NE_exists'] == False]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
240,15,11,10,False,499,"[1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...","[0.1, 0.1, 0.1, 0.0, 0.0, 0.1, 0.1, 0.0, 0.1, ...","[0.06664620173307696, 0.06611955066153148, 0.0...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
250,15,13,10,False,499,"[1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...","[0.1, 0.1, 0.1, 0.0, 0.0, 0.1, 0.1, 0.0, 0.1, ...","[0.06730056604547782, 0.06691743467192814, 0.0...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
390,20,29,10,False,499,"[1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, ...","[0.1, 0.0, 0.1, 0.0, 0.1, 0.1, 0.0, 0.1, 0.0, ...","[0.050078133785279026, 0.049848806809137, 0.05...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [8]:
# utility for linear is always greater than softmax serving for producer and users on synthetic data
(df_linear[df_linear['NE_exists']][utils_columns] - df_softmax[df_linear['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     399.000000     399.000000     399.000000     399.000000
mean       19.842705      18.974458       0.068437       0.049992
std        20.078576      19.019626       0.023730       0.024368
min         4.222688       4.136017       0.038868       0.000484
25%         7.909494       7.760211       0.046548       0.027502
50%        12.316220      12.065529       0.071895       0.054302
75%        21.364928      20.499442       0.088680       0.067307
max       106.081976     102.894447       0.106082       0.090755

In [9]:
# utility for greedy is always greater than linear serving for producer and users on synthetic data
(df_greedy[df_greedy['NE_exists']][utils_columns] - df_linear[df_greedy['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     397.000000     397.000000     397.000000     397.000000
mean       28.899342      25.445764       0.104687       0.020480
std        26.733343      25.406650       0.057493       0.051919
min         8.217255       6.930934       0.053946      -0.001942
25%        12.351111      11.624085       0.083071       0.014494
50%        18.503397      16.132019       0.109597       0.017968
75%        31.762572      27.491889       0.122287       0.022180
max       196.578685     189.437834       1.195579       1.047061

In [10]:
# utility for greedy is always greater than softmax serving for producer and users on synthetic data
(df_greedy[df_greedy['NE_exists']][utils_columns] - df_softmax[df_greedy['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     397.000000     397.000000     397.000000     397.000000
mean       48.305976      43.992931       0.170417       0.068014
std        45.280149      42.886682       0.040261       0.028216
min        12.457509      11.111886       0.092891       0.011146
25%        20.975156      19.078055       0.125824       0.039454
50%        30.739445      28.169906       0.181771       0.073576
75%        57.055928      45.623985       0.226375       0.088967
max       229.228098     224.492432       0.229228       0.114342

### Movielens-100k
- all 400 instances converged to NE for softmax serving, 
- 398 o/f 400 instances conveged to NE for linear-prop serving
- 398 o/f 400 instances conveged to NE for greedy serving

In [11]:
df_linear = pd.read_pickle("../saved_frames/Movielens100k_grid_linear_statistics.pkl") 
df_softmax = pd.read_pickle("../saved_frames/Movielens100k_grid_softmax_statistics.pkl")
df_greedy = pd.read_pickle("../saved_frames/Movielens100k_grid_greedy_statistics.pkl")

In [12]:
(df_softmax['NE_exists'] == False).sum(), (df_linear['NE_exists'] == False).sum(), (df_greedy['NE_exists'] == False).sum()

(0, 2, 2)

In [13]:
df_linear[df_linear['NE_exists'] == False]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
140,10,11,10,False,9999,"[1.0, 1.0, 3.0, 1.0, 0.0, 0.0, 2.0, 0.0, 1.0, ...","[0.1, 0.1, 0.3, 0.1, 0.0, 0.0, 0.2, 0.0, 0.1, ...","[0.10075397500621953, 0.1004768313800366, 0.10...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
307,20,2,80,False,9999,"[0.0, 2.0, 4.0, 7.0, 10.0, 6.0, 0.0, 0.0, 1.0,...","[0.0, 0.025, 0.05, 0.0875, 0.125, 0.075, 0.0, ...","[0.04892099746639292, 0.049776781602278594, 0....",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [14]:
df_greedy[df_greedy['NE_exists'] == False]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
200,15,2,10,False,499,"[1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, ...","[0.1, 0.0, 0.1, 0.1, 0.1, 0.0, 0.1, 0.1, 0.1, ...","[0.06839639356486636, 0.06542173178206166, 0.0...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
280,15,23,10,False,499,"[1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...","[0.1, 0.0, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.0, ...","[0.06601912110442619, 0.067822278938963, 0.065...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [15]:
# utility for linear is always greater than softmax serving for producer and users on movilens data
(df_linear[df_linear['NE_exists']][utils_columns] - df_softmax[df_linear['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     398.000000     398.000000     398.000000     398.000000
mean        0.567853       0.535315       0.020759       0.072535
std         0.511870       0.456124       0.002496       0.036095
min         0.157766       0.155146       0.016228       0.021625
25%         0.243212       0.240820       0.018567       0.044404
50%         0.359313       0.349390       0.020825       0.059185
75%         0.649480       0.623769       0.022796       0.091930
max         2.330834       2.197152       0.025245       0.166107

In [16]:
# utility for greedy is always greater than linear serving for producer and users on movielens data
(df_greedy[df_greedy['NE_exists']][utils_columns] - df_linear[df_greedy['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     398.000000     398.000000     398.000000     398.000000
mean        1.467858       1.043821       0.058751       0.029954
std         1.549135       1.055396       0.078215       0.077291
min         0.378943       0.330039       0.031142      -0.000159
25%         0.638326       0.542188       0.041746       0.014758
50%         0.914020       0.754085       0.056905       0.018446
75%         1.602492       1.163327       0.063551       0.027176
max        18.442836      15.905393       1.184972       1.107622

In [17]:
# utility for greedy is always greater than softmax serving for producer and users on movielens data
(df_greedy[df_greedy['NE_exists']][utils_columns] - df_softmax[df_greedy['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     398.000000     398.000000     398.000000     398.000000
mean        1.994991       1.539092       0.073990       0.097191
std         1.810814       1.177333       0.012531       0.041734
min         0.536708       0.488284       0.047371       0.031974
25%         0.878493       0.793307       0.059518       0.060800
50%         1.272684       1.110579       0.078129       0.085706
75%         2.193307       1.827274       0.083865       0.107010
max         8.764585       8.271462       0.093105       0.194565

In [18]:
df_greedy[df_greedy['NE_exists']][utils_columns]

     avg_prod_util  min_prod_util  avg_user_util  min_user_util
0        28.271984      22.546925       0.299809       0.205078
1        14.137158      13.038001       0.299834       0.204875
2         9.425104       9.056004       0.299844       0.204689
3         7.069096       6.943112       0.299856       0.204577
4         5.655247       5.431328       0.299854       0.204684
..             ...            ...            ...            ...
395       1.740796       1.576425       0.110761       0.059283
396       1.493498       1.393218       0.110864       0.059249
397       1.306607       1.217599       0.110847       0.059338
398       1.161192       1.103924       0.110824       0.059043
399       1.045125       1.001027       0.110830       0.059388

[398 rows x 4 columns]

In [19]:
df_linear[df_greedy['NE_exists']][utils_columns]

     avg_prod_util  min_prod_util  avg_user_util  min_user_util
0        21.876149      21.578272       0.231985       0.129731
1        10.955561      10.893951       0.232355       0.135115
2         7.294644       7.278639       0.232067       0.133271
3         5.479142       5.466450       0.232413       0.161502
4         4.383945       4.372016       0.232447       0.158234
..             ...            ...            ...            ...
395       1.104065       1.097684       0.070248       0.034341
396       0.946359       0.942138       0.070249       0.033350
397       0.827913       0.823844       0.070236       0.033102
398       0.736354       0.732955       0.070278       0.034881
399       0.662516       0.660819       0.070256       0.034564

[398 rows x 4 columns]

### Skewed synthetic
- all 400 instances converged to NE for softmax serving, 
- all 400 instances conveged to NE for linear-prop serving
- all 400 instances converged to NE for greedy serving

In [20]:
df_linear = pd.read_pickle("../saved_frames/weighted_synthetic_grid_linear_statistics.pkl") 
df_softmax = pd.read_pickle("../saved_frames/weighted_synthetic_grid_softmax_statistics.pkl")
df_greedy = pd.read_pickle("../saved_frames/weighted_synthetic_grid_greedy_statistics.pkl")

In [21]:
(df_softmax['NE_exists'] == False).sum(), (df_linear['NE_exists'] == False).sum(), (df_greedy['NE_exists'] == False).sum()

(0, 0, 0)

In [22]:
# utility for linear is always greater than softmax serving for producer and users on movilens data
(df_linear[df_linear['NE_exists']][utils_columns] - df_softmax[df_linear['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     400.000000   4.000000e+02   4.000000e+02     400.000000
mean       15.091527   1.395623e+01   5.214667e-02       0.010794
std        15.768118   1.372565e+01   2.156914e-02       0.011133
min         0.000000  -7.105427e-15  -5.551115e-17      -0.000019
25%         5.965693   5.766701e+00   3.935630e-02       0.003955
50%         9.433524   9.228340e+00   5.002975e-02       0.008811
75%        17.082536   1.644611e+01   6.314280e-02       0.014420
max        95.117308   8.414068e+01   9.518189e-02       0.072476

In [23]:
# utility for greedy is always greater than linear serving for producer and users on movielens data
(df_greedy[df_greedy['NE_exists']][utils_columns] - df_linear[df_greedy['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     400.000000     400.000000     400.000000     400.000000
mean       23.692173      17.727013       0.084045       0.065219
std        20.602756      12.754866       0.014081       0.045273
min         6.197210       5.118005       0.029067       0.000033
25%        10.771374       9.415948       0.075888       0.030091
50%        15.630424      13.480593       0.082945       0.062040
75%        27.821985      21.394611       0.091000       0.086727
max       118.539906      95.235529       0.118540       0.206112

In [24]:
(df_greedy[df_greedy['NE_exists']][utils_columns] - df_softmax[df_greedy['NE_exists']][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     400.000000     400.000000     400.000000     400.000000
mean       38.783700      31.683239       0.136192       0.076012
std        35.483481      25.340258       0.032639       0.045486
min         6.593545       5.333691       0.029067       0.002048
25%        17.038880      15.460037       0.115265       0.040405
50%        25.326241      22.510439       0.129529       0.072641
75%        43.947991      37.954863       0.153683       0.101090
max       209.501137     179.376211       0.209501       0.211057

In [25]:
df_greedy[df_greedy['NE_exists']][utils_columns]

     avg_prod_util  min_prod_util  avg_user_util  min_user_util
0       615.322866     582.351846       0.615323       0.038692
1       315.992950     312.826457       0.631986       0.117442
2       210.652702     201.323572       0.631958       0.117444
3       157.996475     156.413229       0.631986       0.117442
4       126.394214     122.487467       0.631971       0.117443
..             ...            ...            ...            ...
395      47.385685      45.473968       0.284314       0.075018
396      40.613527      38.652545       0.284295       0.074701
397      35.544907      34.315796       0.284359       0.075413
398      31.594602      30.505341       0.284351       0.075197
399      28.434003      27.481081       0.284340       0.075202

[400 rows x 4 columns]

In [26]:
df_linear[df_greedy['NE_exists']][utils_columns]

     avg_prod_util  min_prod_util  avg_user_util  min_user_util
0       546.112824     523.692695       0.546113       0.037975
1       273.642331     273.423290       0.547285       0.038183
2       182.340422     179.754772       0.547021       0.038114
3       136.821165     136.711645       0.547285       0.038183
4       109.428329     108.513180       0.547142       0.038141
..             ...            ...            ...            ...
395      34.276561      34.074757       0.205659       0.007787
396      29.390557      29.333171       0.205734       0.007803
397      25.723301      25.638683       0.205786       0.007815
398      22.851041      22.716505       0.205659       0.007787
399      20.571208      20.506574       0.205712       0.007798

[400 rows x 4 columns]