In [3]:
import pandas as pd
from surprise import NMF,SVD
from surprise.model_selection import cross_validate

In [4]:
df = pd.read_csv('Digital_Music.csv')

In [5]:
df

            item_id         user_id  rating   timestamp
0        0001388703  A1ZCPG3D3HGRSS     5.0  1387670400
1        0001388703   AC2PL52NKPL29     5.0  1378857600
2        0001388703  A1SUZXBDZSDQ3A     5.0  1362182400
3        0001388703  A3A0W7FZXM0IZW     5.0  1354406400
4        0001388703  A12R54MKO17TW0     5.0  1325894400
...             ...             ...     ...         ...
1584077  B01HJ91P94   AR3KABMPL5L0O     5.0  1520035200
1584078  B01HJ91P94  A2N53GHW73INDH     4.0  1516752000
1584079  B01HJ91P94   ABNKLDCCVJKW1     5.0  1492732800
1584080  B01HJ91IVY   AMWSDABZWFRAT     5.0  1519344000
1584081  B01HJ91IVY   A7K5263R5OUIP     5.0  1494979200

[1584082 rows x 4 columns]

In [6]:
len(df['item_id'].unique())

456992

In [7]:
len(df['user_id'].unique())

840372

In [8]:
type(df['rating'].unique()[0])

numpy.float64

In [9]:
pd.DataFrame({"is_null_count": df.isna().sum()})

           is_null_count
item_id                0
user_id                0
rating                 0
timestamp              0

In [10]:
df = df[['user_id','item_id','rating']]

In [11]:
df #has like 1.5 million rows

                user_id     item_id  rating
0        A1ZCPG3D3HGRSS  0001388703     5.0
1         AC2PL52NKPL29  0001388703     5.0
2        A1SUZXBDZSDQ3A  0001388703     5.0
3        A3A0W7FZXM0IZW  0001388703     5.0
4        A12R54MKO17TW0  0001388703     5.0
...                 ...         ...     ...
1584077   AR3KABMPL5L0O  B01HJ91P94     5.0
1584078  A2N53GHW73INDH  B01HJ91P94     4.0
1584079   ABNKLDCCVJKW1  B01HJ91P94     5.0
1584080   AMWSDABZWFRAT  B01HJ91IVY     5.0
1584081   A7K5263R5OUIP  B01HJ91IVY     5.0

[1584082 rows x 3 columns]

In [12]:
from surprise import Dataset, NormalPredictor, Reader
from surprise.model_selection import train_test_split

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df, reader)

In [13]:
trainset, testset = train_test_split(data, test_size=0.1)

In [14]:
algo = NMF(n_factors = 10) #maximum memory consumption like 2G
algo.fit(trainset)
# cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

In [15]:
from surprise import accuracy
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 1.0499

1.0498649231909412

In [16]:
from sklearn.preprocessing import normalize
print(algo.pu.shape)
normalized_embeddings = normalize(algo.pu,  norm = "l1")

(778763, 10)

In [17]:
normalized_embeddings.mean(axis=0)

array([0.1001467 , 0.09996396, 0.10023176, 0.10048728, 0.09947658,
       0.09979998, 0.10015715, 0.10039907, 0.09969974, 0.09963777])

In [18]:
normalized_embeddings.std(axis=0)

array([0.05453889, 0.0542316 , 0.05430859, 0.05428767, 0.05416475,
       0.05436459, 0.05438067, 0.05457235, 0.05428547, 0.05429899])